@import "tailwindcss";
@config "../../tailwind.config.js";

@layer base {
    :root {
        --background: 220 13% 9%;
        --foreground: 0 0% 100%;
        --primary: 142 76% 36%;
        --primary-foreground: 0 0% 100%;
        --accent: 142 76% 36%;
        --muted: 220 13% 15%;
        --card: 220 13% 12%;
        --border: 220 13% 20%;
    }

    body {
        @apply bg-[#16181d];
        color: oklch(97.9% 0.021 166.113);
        background-color: #16181d;
    }

    * {
        border-color: hsl(var(--border));
    }
}